html {
  background-color: hsla(197, 92%, 60%, 1);
  background-image: radial-gradient(
      circle at 96% 96%,
      hsla(55.36363636363636, 93%, 54%, 0.85) 5%,
      transparent 86%
    ),
    radial-gradient(
      circle at 5% 90%,
      hsla(229, 71%, 68%, 1) 13%,
      transparent 65%
    ),
    radial-gradient(
      circle at 57% 73%,
      hsla(308, 93%, 51%, 1) 3%,
      transparent 89%
    ),
    radial-gradient(
      circle at 20% 4%,
      hsla(318, 60%, 76%, 1) 22%,
      transparent 56%
    ),
    radial-gradient(
      circle at 74% 15%,
      hsla(324, 92%, 59%, 1) 13%,
      transparent 57%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
  overflow: hidden;
}
